:root {
    /* --webwork-blue-light: #003388; */
    --webwork-blue-light: #1048ae;
    --webwork-blue-dark: #002188;
}

.webwork-btn {
    color: #fff; 
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%); background-color: #002188; 
    background-image: linear-gradient(to bottom, #003388, #000688); 
    background-repeat: repeat-x; 
    padding: 5px;
    margin: 10px;
    font-size: 16px; 
    line-height: 20px; 
    text-align: center; 
    vertical-align: middle; 
    cursor: pointer; 
    border-radius: 4px;
}

.block-btn {
    display: block;
    width: 130px;
}

.auto-btn {
    width: auto;
}

.sm-btn {
    padding: 2px;
    margin: 0;
    width: auto;
}

.set-text {
    display: block;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    color: var(--webwork-blue-dark);
    text-decoration: none;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.set-text:hover {
    transform: scale(110%);
}

.due-today {
    font-weight: 800;
}

linkpopup {
    color: var(--webwork-blue-dark);
    font-size: 14px;
    font-weight: 500;
}

.link-btn {
    width: 170px;
}

inputbox * {
    display: inline-block;
    padding: 0;
    margin: 0;
}

input[type=textbox] {
    width: 145px;
}


ul, ol {
    color: var(--webwork-blue-dark);
    font-size: 16px;
    font-weight: bolder;
}

ul li, ol li {
    color: var(--webwork-blue-dark);
    font-size: 14px;
    font-weight: bold;
}

ul lh, ol lh {
    position: relative;
    left: -40px;
}

#info-list {
    width: auto;
}

a {
    cursor: pointer;
    text-decoration: underline;
}